/*CLASES*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}

.container-banner {
  text-align: center;
  background-color: #ff5600;
}

.banner {
  background-color: black;
  color: white;
  max-height: 100%;
  height: auto;
}

.active-card {
  background-color: #ff5600;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

.card {
  background-color: #ecf2f5;
  border-radius: 20px;
  text-align: center;
}

.button {
  background-color: #ff5600;
  font-size: 18px;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  width: 200px;
  justify-content: center;
}

.description-inactive {
  color: #868788;
}

.ml-0 {
  margin-left: 0px;
}

.mr-10 {
  margin-right: 10px;
}

mt-10 {
  margin-top: 10px;
}

mb-10 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-5 {
  margin-right: 5px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mb-5 {
  margin-bottom: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.title-h1 {
  font-size: 54px;
}

.text-orange {
  color: #ff5600;
}

.padding-card {
  padding: 35px;
}

/*SECCIONES*/

.hero {
  background-color: rgba(134, 98, 43, 0.5);
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.separador {
  background-color: #ff5600;
  height: 4px;
  width: 65px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.sec-1 {
  background-color: black;
  color: #fff;
}

.sec-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.img-1 {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
}

.text-description {
  color: #adadac;
}

.interlineado {
  line-height: 30px;
}

footer {
  background-color: black;
  color: #fff;
}

.featured {
  margin: 20px;
  background-color: #edf3f5;
}

/*END SECCIONES*/

/*NAVBAR*/

/* [ON BIG SCREEN] */

/* Wrapper */
#page-nav {
  width: 100%;
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  /* If you want the navigation bar to stick on top
    position: sticky;
    top: 0;
    */
}

/* Hide Hamburger */
#page-nav label,
#hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#page-nav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
#page-nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.li-active {
  color: #ff5600;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: #fff;
    background: #dddddd;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  #page-nav ul li {
    border-top: 1px solid rgb(255, 255, 255);
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

/* [DOES NOT MATTER] */
html,
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
